<h1>Create New Appearence</h1>

<% if @episode_guest.errors.any? %>
    <div><%="Error: Rating needs to be between 1 and 5" %></div>
<% end %>

<%= form_for @episode_guest do |f| %>

<div><%=f.label :guest_id %>
<%=f.collection_select :guest_id, Guest.all, :id, :name%></div>

<div><%=f.label :episode_id %>
<%=f.collection_select :episode_id, Episode.all, :id, :number%></div>

<div><%=f.label :rating %>
<%=f.text_field :rating %></div>

<%= submit_tag "Submit Appearence" %>

<%end%>
