<h1>New Guest</h1>

<%= form_for @guest do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :occupation %><br>
<%= f.text_field :occupation %><br>

<%= f.submit "Submit Guest"%>
<% end %>
