<ol>
    <li> <%=link_to " Link to Guests", guests_path %> </li>
    <li> <%=link_to " Link to Episodes", episodes_path %> </li>
    <li> <%=link_to " Link to Add Guest to Episode", new_appearance_path %> </li>
</ol>
<hr>
<h1><%= @guest.name %></h1>
<h2><%= @guest.occupation %></h2>
<h3>Episode</h3>
<ul>
  <% @guest.episodes.each do |episode| %>
    <li><%=link_to  episode.number , episode_path(episode)%></li>
  <% end %>
</ul>
