<ol>
    <li> <%=link_to " Link to Guests", guests_path %> </li>
    <li> <%=link_to " Link to Episodes", episodes_path %> </li>
    <li> <%=link_to " Link to Add Guest to Episode", new_appearance_path %> </li>
</ol>
<hr>
<h1>Episode:<%= @episode.number %>  </h1>
<h2> <%= @episode.date %></h2>
<h3>Guests</h3>
<ul>
  <% @episode.guests.each do |guest| %>
    <li><%=link_to guest.name, guest_path(guest) %></li>
  <% end %>
</ul>
