<h1>Episode Date:  <%= @episode.date %> </h1>
<h1>Episode Number:  <%= @episode.number %> </h1>

<h2>Guests: </h2>



<% @episode.guests.each do |guest| %>
<p><%= link_to guest.name, guest_path(guest) %></p>
<% end %>
 <p> <%= link_to "All Guests", guests_path %> </p>
<p> <%= link_to "All Episodes", episodes_path %> </p>
