<h1> <%= @episode.date %> </h1>

<h3> Guests: </h3>
  <% @guests.each do |guest| %>
      <%= link_to guest.name, guest%>
  <% end %>


<h4>Current Rating: </h4> <%= @episode.rating %>
<br>
<br>
  <%= form_for @episode do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
  <% end %>
  <br>
  <br>

  Add Guests:
  <%= form_for @episode do |f| %>
  <%= f.collection_select :guest_ids, @allguests, :id, :name %>
  <%= f.submit %>
  <% end %>
  <!-- double u t f isnt it adding the guests. im sad.. jk thiis isnt even what im supposed to be doing lol-->
