<% if @appearance.errors.any? %>
	<ul>
		<% @appearance.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @appearance do |f| %>
	<%= f.label :guest_id %>
	<%= f.collection_select :guest_id, Guest.all, :id, :name %><br/>

	<%= f.label :episode_id %>
	<%= f.collection_select :episode_id, Episode.all, :id, :number %><br/>

	<%= f.label :rating %>
	<%= f.number_field :rating %><br/>

	<%= f.submit %>
<% end %>