<h1> New appearance </h1>
<%= form_for @appearance do |f| %>
<%= f.label :rating %>
<%= f.text_field :rating %>
<%= f.label :episode %>
<%= f.collection_select (:appearance,  @episodes, :id, :number) %>
<%= f.label :guest %>
<%= f.collection_select (:appearance, @guests, :id, :name) %>
<%= f.submit %>
<% end  %>

<ul>
